#module files (currently version 0.x.y)
0.*.* 
1.*.*

# distributable files
*.tar.gz

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Visual Studio stuff
Debug
Release
*.sdf
*.suo
*.vcxproj.user
.vs


# Template
template/bin
template/obj

#Autotools files
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
install-sh
missing
.libs/
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*.pc
config.log
config.status
.deps
.dirstamp
Makefile

